{% extends 'mainapp/base.html' %}

{% load static %}
{% block content %}

    <header class="bg-dark py-1">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Авторизация</h1>
                <p class="lead fw-normal text-white-50 mb-0">Пожалуйста, введита данные ниже для авторизации</p>
            </div>
        </div>
    </header>
    <div class="support_form">
        <form method="post" class="" style="width: 28%; margin-left: auto; margin-right: auto; margin-top: 50px;">
            {% csrf_token %}
            {{ form.as_p }}
            <a href="{% url 'authapp:register' %}" class="btn btn-outline-dark" style="float: left;">Зарегистрироваться</a>
            <button class="btn btn-dark" name="submit" style="float: right;">Войти</button>
        </form>

    </div>
{% endblock %}