{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}

<header class="bg-dark py-1">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">О компании</h1>
            <p class="lead fw-normal text-white-50 mb-0"></p>
        </div>
    </div>
</header>

<div style="padding: 25px; z-index: 1;">
<div>
    <div class="rounded" style="float:left; margin-left: 20em; background-image: url(/media/about-bg.jpg); width: 420px; height: 560px;"></div>
    <div style="margin-left: 48em;" class="center">
        <h1 style="margin-bottom: -5px;"><b>Sneakers of Travel</b></h1>
        <hr>
        <p style="font-size: 22px; margin: -2px;" class="bi bi-arrow-90deg-right"> Продаем популярные обувные коллецкии разных брендов</p>
        <p style="font-size: 22px; margin: -2px;" class="bi bi-arrow-bar-right"> Осуществляем достаку по странам СНГ</p>
        <p style="font-size: 22px; margin: -2px;" class="bi bi-arrow-return-right"> Наша цель - подарить людям возможность заказать красивую брендовую обувь</p>
        <p style="font-size: 22px;" class="bi bi-envelope">  xMolod0yx.Arseny@yandex.ru </p>
        <p style="font-size: 22px;" class="bi bi-telephone">  +12123123123 </p>
    </div>
    </div>
</div>



{% endblock %}